body {
  background-image: url("assets/1_shadows.png"), url("assets/1_bg.png");
  background-size: cover;
}

#horse {
  position: absolute;
  left: 70%;
  top: 63%;
}

#balloons {
  position: absolute;
  left: 80%;
  bottom: 75%;
}

#swing {
  position: absolute;
  left: 15%;
  top: 43%;
}

#swing img {
  height: 30vh;
}

#tableCont {
  position: absolute;
  left: 46%;
  top: 57%;
}
#table {
  height: 10vh;
}
#basket {
  position: absolute;
  left: 20%;
  bottom: 80%;
}

#basket img {
  height: 6vh;
}

#basketCloseUp {
  display: none;
}

#exitBasket {
  position: fixed;
  bottom: 0;
  left: 0;
}

#appleCloseUp {
  position: fixed;
  bottom: 30%;
  left: 45%;
}
