body {
  position: relative;
  min-height: 100vh;
}
button {
  opacity: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 1s;
  transform: scale(1);
}

button:hover {
  opacity: 100%;
  transition: all 0.5s;
  transform: scale(1.01);
}

.invItem {
  background-color: rgb(219, 12, 81);
  margin: 10px;
  padding: 40px;
}

#inventory {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
}

.navButton {
  padding: 20px;
  width: fit;
  background-color: antiquewhite;
}

.closeUp {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.closeUp img {
  height: 100%;
  width: 100%;
}

#dialog {
  width: 100%;
}
