body {
  position: relative;
  min-height: 100vh;
  aspect-ratio: 8/5;
  background-size: cover;
  aspect-ratio: 8/5;
}
button {
  opacity: 100%;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 1s;
  transform: scale(1);
}

button:hover {
  opacity: 100%;
  transition: all 0.5s;
  transform: scale(1.01);
}

#inventory {
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
}

.invItem {
  background-color: rgba(255, 255, 255, 0.726);
  margin: 5px;
}

.invItem img {
  width: 100px;
}

.navButton {
  width: fit;
  background-color: antiquewhite;
}

.closeUp {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.closeUp img {
  height: 100%;
  width: 100%;
}

.dotgothic {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-size: x-large;
  font-style: normal;
}

#dialog {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  background-color: rgba(254, 254, 254, 0.888);
  font-family: "DotGothic16", sans-serif;
}

#nextCont {
  display: flex;
  align-self: center;
}
#next {
  width: 30%;
  margin: 0px 15px;
}
