body {
  background-image: url(assets/4_bg.png);
  animation: zoom 2s ease-in-out;
}

#door {
  position: absolute;
  left: 49%;
  bottom: 24%;
}

#door img {
  width: 90%;
}

#doorUp {
  display: none;
}
