body {
  background-image: url(assets/2_bg.png);
}
button {
  background-color: aliceblue;
  padding: 5px;
}

#lock {
  position: absolute;
  right: 5%;
  bottom: 20%;
}

#hint1 {
  position: absolute;
  right: 20%;
  top: 30%;
}

#hint2 {
  position: absolute;
  left: 45%;
  top: 30%;
}

#hint3 {
  position: absolute;
  right: 3%;
  top: 50%;
}

#hint4 {
  position: absolute;
  left: 15%;
  top: 25%;
}
#bookCloseUp {
  display: none;
}

#exitBook {
  position: fixed;
  bottom: 0;
  left: 0;
}

#comboLock {
  display: none;
}
