body {
  background-image: url(assets/2_bg.png);
}
button {
  background-color: rgba(240, 248, 255, 0);
  padding: 5px;
}

#lock {
  position: absolute;
  right: 3%;
  bottom: 13%;
}

#lock img {
  width: 90%;
}

#hint1 {
  position: absolute;
  right: 8%;
  top: 25%;
}

#hint1 img {
  width: 85%;
}

#hint2 {
  position: absolute;
  left: 45%;
  top: 30%;
}

#hint2 img {
  width: 95%;
}

#hint3 {
  position: absolute;
  right: 1%;
  top: 40%;
}

#hint3 img {
  width: 90%;
}

#hint4 {
  position: absolute;
  left: 7%;
  top: 24%;
}

#hint4 img {
  width: 82%;
}
#bookCloseUp {
  display: none;
}

#exitBook {
  position: fixed;
  bottom: 0;
  left: 0;
}

#comboLock {
  display: none;
}
